<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
<!--
    <header>
        <%- include('../partials/header'); %>
    </header>
-->
    <main>
        <div>
            <form action="/process_form" method="post">
                <h2>Welcome to UserData Mock 2000!</h2>
                <input class="btn btn-lg btn-primary " type="submit" value="LOAD">
            </form> 
        </div>
        
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>